body {
  /*background-color: #CC9966;*/
  background-color: #705a53;
  background-image: url(/img/bg/01.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 h5, h6 {
  /*font-family: 'Lora', serif;*/
}



#sip-nav {
  background: none;
  border: none;
}

#sip-nav .navbar-brand {
  /*text-indent: -9999px;*/
}

#sip-nav li a {
  color: #eee;
  font-size: 18px;
}

#sip-nav li.active a {
  background: none;
  color: #fff;
  font-weight: bold;
}



.sip-outer {
  background-color: #fff;
  /*border-radius: 1px;*/
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  /*min-height: 400px;*/
}

.sip-inner {

}

.sip-container {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  padding-bottom: 18px;
  padding-top: 18px;
}

#sip-carousel .carousel-caption {
  /*background-color: rgba(255,255,255,.6);*/
  /*left: 0px;*/
  top: 0px;
}

#sip-carousel h3, #sip-carousel p {
  text-shadow: 1px 1px 3px rgba(0,0,0,.5),
              -1px 1px 3px rgba(0,0,0,.5),
               1px -1px 3px rgba(0,0,0,.5),
              -1px -1px 3px rgba(0,0,0,.5);
}

.main {
  /*background-color: red;*/
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  height: 400px;
  margin-top: 120px;
}


#sip-menu h1, #sip-menu h2 {
  /*margin-left: 20px;*/
}

#sip-menu h2 {
  color: #C0392B;
  /*font-size: 42px;*/
  letter-spacing: 1px;
}

#main {
  position: relative;
}

h1.page-title {
  color: #D35400;
  font-family: 'Lato';
  /*position: absolute;*/
  margin: 20px 0;
  text-align: center;
  /*right: 50px;*/
  /*text-shadow: 0px 0px 5px rgba(0,0,0,.6);*/
  /*top: -60px;*/
}


#footer {
  /*background-color: #fff;*/
  margin-bottom: 40px;
  padding-top: 20px;

}

#footer li {
  display: inline-block;
  list-style-type: none;
  text-indent: 0px;
}


#footer li:after {
  content: '|';
  margin-left: 10px;
  margin-right: 10px;
}

#footer li:last-child:after {
  content: '';
}

#footer li, #footer a, #footer a:active, #footer a:hover, #footer a:visited, #footer a:link {
  /*color: #2C3E50;*/
  color: #eee;
}

.temp {

}
.navbar-collapse {
  background-color: rgba(255,255,255,.5);
}


.description-row {
  border-top: none !important;
}



@media (min-width: 640px) {
  /*.container {*/
  /*max-width: 750px;*/
  /*}*/


}

@media (min-width: 768px) {
  /*.container {*/
    /*max-width: 750px;*/
  /*}*/

  #bs-nav-list {
    margin-top: 20px;

  }
  .navbar-collapse {
    background-color: transparent;
  }
}

@media (min-width: 992px) {
  /*.container {*/
    /*max-width: 970px;*/
  /*}*/

}

@media (min-width: 1200px) {
  /*.container {*/
    /*max-width: 1170px;*/
  /*}*/

}


#promos {
  margin-top: -1px;
}

.pane {
  color: #fff;
  display: block;
  min-height: 260px;
}

.pane a {
  color: #fff;
}

.pane h3 {
  font-size: 30px;
  text-align: center;
}

#promos .pane1 {
  background: url(/img/promo/promo_coffee.jpg);
}

#promos .pane2 {
  background: url(/img/promo/promo_bg_glassses_dark.jpg);
}

#promos .pane3 {
  /*background: url(/img/promo/promo_sign.jpg);*/
  background-color: #C0392B;
}

#promos .col-md-4 {
  /*padding: 0px;*/
}

#hours {

}

.inner {

  height: 150px;
  margin: 0px;
}

#sip-menu h2 {
  color: #C0392B;
  margin-bottom: 10px;
}

#sip-menu strong {
  color: #D35400;
  font-size: 18px;
}

.menu-size-header {
  color: #F39C12;
  width: 20%;
}

.menu-table {
  margin-bottom: 60px;
}

.section-h1 {
  border-top: none !important;
  padding: 0px !important;
}

.section-description h3 {
  margin: 20px 0 10px 0;
}

.menu-table th {
  border-bottom: none !important;
}

.menu-dollarsign {
  color: #95A5A6;
}

.menu-price {
  color: #D35400;
  font-size: 18px;
  margin-bottom: 10px;
}






.menu-row {
  min-height: 60px;
}
.menu-row-wine {
  margin-bottom: 20px;
}
.menu-header-row {
  /*border-bottom: 1px solid #e0e0e0;*/
  margin-bottom: 20px;
  margin-top: 10px;
}

.menu-header-row h2 {
  margin-top: -10px;
}
.menu-header-row h3 {
  margin-top: 10px;
}
.menu-subheader-row {
  border-bottom: 1px solid #e0e0e0;
  /*margin: 10px 0;*/
  margin-bottom: 10px;
  min-height: 30px;

}
.menu-price-outer {

}
.menu-title-box {}
.menu-title-box h2 {
  margin-top: 0px;
}

strong.menu-title {

}
.menu-description-box {
  margin-bottom: 20px;
}
.menu-description {
  color: #34495E;
  /*font-family: 'Lora', serif;*/
  display: block;
  font-size: 18px;
}
.menu-beer-description {
  min-height: 60px;
}
.menu-origin {
  color: #999;
  font-size: 18px;
  padding-left: 10px;
}
.red {
  background-color: red;
}