body {
  /*background-color: #CC9966;*/
  background-image: url(/img/bg/01.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Lato', sans-serif;
}

#bs-nav {


}

#sip-nav {
  background: none;
  border: none;
}

#sip-nav .navbar-brand {
  /*text-indent: -9999px;*/
}

#sip-nav li a {
  color: #eee;
  font-size: 18px;
}

#sip-nav li.active a {
  background: none;
  color: #fff;
  font-weight: bold;
}

.sip-outer {
  background-color: #fff;
  /*border-radius: 1px;*/
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  /*min-height: 400px;*/
}

.sip-inner {

}



.main {
  /*background-color: red;*/
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  height: 400px;
  margin-top: 120px;
}


.temp {

}