
<div id="sip-carousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#sip-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#sip-carousel" data-slide-to="1"></li>
    <li data-target="#sip-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="img/carousel/slide_1.jpg" alt="...">
      <div class="carousel-caption">
        <h3>Delicious Food!</h3>
        <p>Now available without salmonela</p>
      </div>
    </div>

    <div class="item">
      <img src="img/carousel/slide_2.jpg" alt="...">
      <div class="carousel-caption">
        <h3>Wonderful Beverages</h3>
        <p>Sub text</p>
      </div>
    </div>

    <div class="item">
      <img src="img/carousel/slide_3.jpg" alt="...">
      <div class="carousel-caption">
        <h3>Wonderful Beverages</h3>
        <p>Sub text</p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#sip-carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#sip-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" id="promo1">
      <div class="inner">Food</div>
    </div>
    <div class="col-sm-4" id="promo2"><div class="inner">Drink</div></div>
    <div class="col-sm-4" id="promo3"><div class="inner">Clowns</div></div>
  </div>
</div>